{% load compress %}
{% comment %}
	verbatim allows the use of javascript templates.
	compress is a js/css aggregator, it also allows me to compile using the "LESS" CSS engine
{% endcomment %}
<!DOCTYPE html>
<html>
<head>
	<title>Roshan</title>
	{% compress css %}
    <link rel="stylesheet" href="/static/css/base.less" type="text/less" charset="utf-8">
	<link rel="stylesheet" href="/static/css/jquery.lightbox-0.5.css" type="text/css" charset="utf-8"/>
	<link rel="stylesheet" href="/static/css/jquery-ui-cupertino.css" type="text/css" charset="utf-8"/>
    {% endcompress %}
	<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/css/ie.css" /><![endif]-->
	{% compress js %}
	<script type="text/javascript" charset="utf-8" src="/static/js/jquery-1.6.4.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="/static/js/jquery-ui.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="/static/js/underscore-1.2.1.js"></script>
	<script type="text/javascript" charset="utf-8" src="/static/js/backbone.js"></script>
	<script type="text/javascript" charset="utf-8" src="/static/js/handlebars.1.0.0.beta.3.js"></script>
	<script type="text/javascript" charset="utf-8" src="/static/js/jquery.lightbox-0.5.min.js"></script>
	{% endcompress %}
	{% block head %}
	{% endblock %}
	<!--<meta name="robots" content="NONE,NOARCHIVE" />-->
</head>
<body>
<!-- Container -->
<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">
			<h1 id="site-name">{% block title %}VizCloud{% endblock %}</h1>
        </div>
    </div>
    <!-- END Header -->
    <!-- Content -->
    <div id="content">
		<div id="content-main">
		{% block content %}
			Errr something went wrong..?
		{% endblock %}
		</div>
    	<br class="clear" />
    </div>
    <!-- END Content -->
    <div id="footer">
    	{% block footer %}
    	{% endblock %}
    </div>
</div>
<!-- END Container -->

</body>
</html>
