{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
<style>
	body{
		background-color:#d0e4fe;
		background: url('http://www.wallpaperbase.com/wallpapers/landscape/clouds/clouds_6.jpg') center top no-repeat;
	}
</style>
<div style="margin:275px auto 0 auto; padding: 10px; width:350px; height:200px; text-align:center;">
    <h4>UNDER CONSTRUCTION</h4>
    You have reached the home of the Roshan project.<br>
    Nothing to see here. Move along.<br>
</div>
{% endblock %}
