{% extends "base.html" %}
{% load verbatim %}
{% load socketio_tags %}


{% block title %}Manager{% endblock %}

{% block head %}
	{% comment %}{% socketio %}{% endcomment %}
	{% socketio %}
	{% verbatim %}
	<script id="job-row" type="text/x-handlebars-template">
		<strong>{{title}}</strong>
		<span class="controls">
		{{#if stopped}}
			<a href="#" class="restart warning button">Restart</a>
		{{else}}
			{{#if done}}
				<a href="/jobs_finished/{{output}}" class="view line button">View Results</a>
			{{else}}
				<!--<a href="#pause={{id}}" class="pause warning button">Pause</a>-->
				<a href="#stop={{id}}" class="stop delete button">Stop</a>
			{{/if}}
		{{/if}}
		</span>
	</script>
	<script id="file-row" type="text/x-handlebars-template">
        <div class="info">
            <strong>Size:</strong> {{size}}<br>
            <strong>Modified:</strong> {{modified}}
        </div>
        <strong>{{filename}}</strong>
		<span class="controls">
			{{#if exe}}
			<a href="#" class="line button run">Run</a>
			{{/if}}
			<a href="/media/get/{{name}}" class="save button download">Download</a>
		</span>
	</script>
	<!--<script id="job-rows" type="text/x-handlebars-template">
		{{#list things}}
			<strong>{{title}}</strong>
			<span class="controls">
				<a href="#pause={{id}}" class="pause warning button">Pause</a>
				<a href="#stop={{id}}" class="stop delete button">Stop</a>
			</span>
		{{/list}}
	</script>-->
	{% endverbatim %}
    <!--<script id="file-form-template" type="text/x-handlebars-template">
        <div title="Upload a file">
            <iframe id="job_upload_frame" name="job_upload_frame" style="position:absolute; top:-9999px; left:-9999px;visibility:hidden;"></iframe>
            <form id="job_upload_form" enctype="multipart/form-data" method="post" action="/manager/new/file" target="job_upload_frame">
                <table>
                {% csrf_token %}
                {{ file_form }}
                </table>
                <input type="submit" value="Save" id="save_button"/>
            </form>
        </div>
    </script>
    <script id="job-form-template" type="text/x-handlebars-template">
        <div title="Create a new job">
            <form id="job_upload_form" method="post" action="/manager/new/job">
                <table>
                {% csrf_token %}
                {{ job_form }}
                </table>
                <input type="submit" value="Save" id="save_button"/>
            </form>	
        </div>
    </script>-->
	<script type="text/javascript">
		//
		//var socket = new io.Socket();
		//socket.connect();
		//socket.on('connect', function() {
		//	console.log('connected!');
		//	socket.send('hello!');
		//	/*socket.subscribe('room-' + window.room);
		//	showForm();*/
		//});
		//
		//socket.on('message', function(data) {
		//	console.log(data);
		//	/*switch (data.action) {
		//		case 'in-use':
		//			alert('Name is in use, please choose another');
		//			break;
		//		case 'started':
		//			started = true;
		//			$('#submit').val('Send');
		//			$('#users').slideDown();
		//			$.each(data.users, function(i, name) {
		//				addUser({name: name});
		//			});
		//			break;
		//		case 'join':
		//			addUser(data, true);
		//			break;
		//		case 'leave':
		//			removeUser(data);
		//			break;
		//		case 'message':
		//			addMessage(data);
		//			break;
		//		case 'system':
		//			data['name'] = 'SYSTEM';
		//			addMessage(data);
		//			break;
		//	}*/
		//});
		$.fn.clear_form = function(){
			$(this).find(':input').each(function() {
				switch(this.type) {
					case 'password':
					case 'select-multiple':
					case 'select-one':
					case 'text':
					case 'textarea':
						$(this).val('');
						break;
					case 'checkbox':
					case 'radio':
						this.checked = false;
				}
			});
		}
		$(function(){
			var CSRF_TOKEN = "{% csrf_token %}";
			var POST_DATA = {'csrfmiddlewaretoken':$('input', CSRF_TOKEN).attr('value')};
			/*var Workspace = Backbone.Router.extend({
				routes: {
					"help":								 "help",		// #help
					"search/:query":				"search",	// #search/kiwis
					"search/:query/p:page": "search"	 // #search/kiwis/p7
				},
				help: function() {
				console.log("Help Fired!");
				},
				search: function(query, page) {
					console.log("Searching for: " + query + " on page " + page);
				}
			});
			var ws = new Workspace;
			ws.bind("route:help", function(){
				console.log("Help Fired! 2");
			});
			Backbone.history.start();
			*/
			
			var Job = Backbone.Model.extend({
				initialize: function(e){
					//console.log('init', e);
					this.bind('change:status',	 this.changeStatus, this);
					//this.set({'status':1});
					this.changeStatus();
				},
				changeStatus:function(e){
					//assume a running state
					var stopped = false, done = false;
					switch(this.get('status')){
						case 0: break;//Running state
						case 1: done = true; break;//Done state
						case 2: stopped = true; break; //Error state
					}
					this.set({'stopped':stopped, 'done':done});
				}
				/*defaults: function(){
					return {
						"id":0,
						"done": false,
						"name":""
					}
				},*/
			});
			
			var JobList = Backbone.Collection.extend({
				model: Job,
				url: '/rest/job/?format=json',
				test:function(){
					return this.filter(function(it){
						console.log(it);
					});
				}
			});
			
			var File = Backbone.Model.extend({
					
			});
			
			var FileList = Backbone.Collection.extend({
				model: File,
				url: '/manager/files/'
			});
			
			var JobView = Backbone.View.extend({
				tagName: "li",
				template: Handlebars.compile($('#job-row').html()),
				
				events: {
					"click .view":		"view",
					"click .pause":		"pause",
					"click .stop":		"stop",
					"click .restart":	"restart",
				},
				
				view: function(){
					//alert('view');
					$('#app #img').html('<img src="/jobs_finished/'+this.model.get('output')+'" \>');
					return false;
				},
				
				pause: function(){
					alert('pause');
				},
				
				stop: function(){
					//alert('stop');
					this.model.set({'stopped': true});
					this.render();
				},
				
				restart: function(){
					//alert('stop');
					this.model.set({'stopped': false});
					this.render();
				},
				
				render: function() {
					var $el = $(this.el);
					$el.html(this.template(this.model.toJSON()));
					if (this.model.get('done')) $el.addClass('done'); //one directional... can't become "undone"
					return this;
				}
			});
			
			var JobListView = Backbone.View.extend({
				//tagName: "ul",
				//className: "table",
				tagName: "div",
				//id: "manager-table",
				
				initialize: function(){
					this.list = new JobList;
					this.list.bind('add', this.add, this);
					this.list.bind('reset', this.addAll, this);
					this.list.fetch();
					//$(this.el).append('<ul class="table"></ul>');
                    var $el = $(this.el);
					$el.append('<h2>Jobs</h2>');//.append('<a id="add-job" href="#" class="add button">Add a new Job</a>');
					this.$table = $('<ul class="table"></ul>').appendTo($el);
					//list.bind('all',	 this.render, this);
				},
                
                events: {
					"click #add-job":		"form",
					//"click .pause":		"pause",
					//"click .stop":		"stop",
					//"click .restart":	"restart",
				},
				
				form: function(e){
                    var pos = $(e.srcElement).position()
					$("#job-form").dialog({position:[pos.left+200, pos.top-50]}).dialog("open");
					return false;
				},
                
				//template: Handlebars.compile($('#job-row').html()),
				add: function(m){
					var view = new JobView({model: m});
					this.$table.append(m, view.render().el);
				},
				addAll: function(e){ //gets fired after fetch()
					//var $el = $(this.el);
                    this.$table.html('');
					var _this = this; //needed to use this because scope changes
					this.list.each(function(m){
						_this.add(m);
					}); //attaches a view to each of the models
					//console.log(e, "reset");
				},
				render: function() {
					/*var $el = $(this.el);
					$el.html('');
					$el.append(m, m.render().el);
					return this;*/
					//console.log('rendering job list view');
                    this.list.fetch();
				}
			});
			
			var FileView = Backbone.View.extend({
				tagName: "li",
				
				template: Handlebars.compile($('#file-row').html()),
				
				events: {
					"click .view":		"view",
					"click .download":	"download",
					"click .run":		"run"
					//"click .pause":		"pause",
					//"click .stop":		"stop",
					//"click .restart":	"restart",
				},
				
				download: function(){
					console.log('download', this.model.get('filename'), this.model.get('ext'));
					return false;
				},
				
				run: function(e){
					var post = jQuery.extend({'filename':this.model.get('filename')}, POST_DATA);
					console.log(this.model.toJSON(), post);
					$.post('new_job', post, function(d){
						console.log(d);
					});
					return false;
				},
				
				view: function(){
					//alert('view');
					//var img_url = 
					$('#app #img').html('<img src="/jobs_finished/'+this.model.get('output')+'" \>');
					return false;
				},
				
				render: function() {
					var $el = $(this.el);
					//console.log(this.model.toJSON());
					$el.html(this.template(this.model.toJSON()));
                    
					return this;
				}
			});
            
            /*var FileFormView = Backbone.View.extend({
				tagName: "div",
				
				template: Handlebars.compile($('#file-form-template').html()),
				
				events: {
					"click .open": "form",
				},
				
				form: function(){
					var pos = $(e.srcElement).position();
					$("#file-form").dialog({position:[pos.left+200, pos.top-50]}).dialog("open");
					return false;
				},
				
				render: function() {
					var $el = $(this.el);
					//console.log(this.model.toJSON());
					$el.html(this.template());
					return this;
				}
			});*/
			
			var FileListView = Backbone.View.extend({
				/*tagName: "ul",
				className: "table",*/
				tagName: 'div',
				//id: "manager-table",
				//el: '<ul id="manager-table"></ul>',
				
				initialize: function(){
					this.list = new FileList;
					this.list.bind('add',	 this.add, this);
					this.list.bind('reset', this.addAll, this);
					this.list.fetch();
					var $el = $(this.el);
					$el.append('<h2>Files</h2>').append('<a id="add-file" href="#" class="add button">Add a new File</a>');
                    this.$table = $('<ul class="table"></ul>').appendTo($el);
					
					//list.bind('all',	 this.render, this);
				},
				
				events: {
					"click #add-file":	"form",
					//"click .pause":		"pause",
					//"click .stop":		"stop",
					//"click .restart":	"restart",
				},
				
				form: function(e){
                    var pos = $(e.srcElement).position()
					$("#file-form").dialog({position:[pos.left+200, pos.top-50]}).dialog("open");
					return false;
				},
				
				//template: Handlebars.compile($('#job-row').html()),
				add: function(m){
					var view = new FileView({model: m});
					this.$table.append(m, view.render().el);
				},
				addAll: function(e){ //gets fired after fetch()
					//var $el = $(this.el);
                    this.$table.html('');
					var _this = this;
					this.list.each(function(m){
						_this.add(m);
					}); //attaches a view to each of the models
					//console.log(e, "reset");
				},
				render: function() {
					/*var $el = $(this.el);
					$el.html('');
					$el.append(m, m.render().el);
					return this;*/
					//console.log('rendering job list view');
                    this.list.fetch();
				}
			});		
			
			//var list = new JobList;
			//var files = new FileList;
			
			var App = Backbone.View.extend({
				el: $('#app'),
				//tagName: 'div',
				//id: 'app',
				/*el:'<div id="app">'
						+'<a href="#" class="add button">Add an item</a><br>'
						+'<div id="img"></div>'
					+'</div>',*/
				
				initialize: function(){
					var $el = $(this.el);
					this.jobs = new JobListView({el:$('#jobs', $el)});
					this.files = new FileListView({el:$('#files', $el)});
					/*$el	.append(this.jobs.el)
						.append(this.files.el)
						.append('<div id="img"></div>');*/
				},
				
				render: function(){
					console.log("render");
				}
			});
			
			var app = new App;
			//var jobsview = new JobListView;
			$(app.el).appendTo('#content-main');
			
			//list.fetch(); //does an ajax request to fill up the JobList
			//files.fetch();
			
			//list.add({{bootstrap}});
			/*make tables sortable...*/
            
			$("ul.table").disableSelection().sortable();//{placeholder: "ui-state-highlight"}
            
            /* manage forms */
			var $file_form = $("#file-form");
            $file_form.dialog({autoOpen: false, height:200, width:450});
            $('form', $file_form).live("submit", function(){
                //$(this).clear_form();
                $file_form.dialog('close');
            });
            //This iframe is used to upload a file in the background since you can't use $.ajax() for this.
			$('iframe', $file_form).load(function(e){
				var content = this.contentWindow.document.body.innerHTML
				if (content){
					var state = $.parseJSON(this.contentWindow.document.body.innerHTML)
					//console.log('loaded', state);
					if (state.status == "success"){
						//alert("Upload successful!");
                        app.files.render();
					}else{
						alert("Error! Please select a valid file.");
						console.log('error', state);
					}
				}
			});
            
            var $job_form = $("#job-form");
			$job_form.dialog({autoOpen: false, height:200, width:450});
            $('form', $job_form).live("submit", function(){
                var data = $(this).serialize();
                $(this).clear_form();
                $job_form.dialog('close');
                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: data,
                    dataType: 'text',
                    success: function(state){
                        console.log('loaded', state);
                        /*if (state.status == "success"){
                            //alert("Form submission successful!");
                            app.jobs.render();
                        }else{
                            alert("There was a problem, error information available...");
                        }*/
                    }
                });
                return false;
            });
			//$("#file-form").dialog("open");
		});
	</script>
{% endblock %}

{% block content %}
	<div id="app">
		<div id="files"></div>
		<div id="jobs"></div>
		<!--<a id="add-job" href="#" class="add button">Add a new Job</a><br>
		<a id="add-file" href="#" class="add button">Add a new File</a><br>-->
		<div id="img"></div>
	</div>	
	
	<!--<a href="/manager/upload" class="load button">Upload New Job</a>-->
	<div id="file-form" title="Upload a file">
		<iframe id="job_upload_frame" name="job_upload_frame" style="position:absolute; top:-9999px; left:-9999px;visibility:hidden;"></iframe>
		<form id="job_upload_form" enctype="multipart/form-data" method="post" action="/manager/new/file" target="job_upload_frame">
			<table>
			{% csrf_token %}
			{{ file_form }}
			</table>
			<input type="submit" value="Save" id="save_button"/>
		</form>
	</div>
	<div id="job-form" title="Create a new job">
		<form id="job_upload_form" method="post" action="/manager/new/job">
			<table>
			{% csrf_token %}
			{{ job_form }}
			</table>
			<input type="submit" value="Save" id="save_button"/>
		</form>	
	</div>

{% endblock %}

{% block footer %}
{% if not user.is_anonymous %}<a href="/accounts/logout/?next=/" class="exit button">Log out</a>{% endif %}
{% endblock %}
