{% extends "base.html" %}
{% load verbatim %}

{% block title %}Manager{% endblock %}

{% block head %}
	{% verbatim %}
	<script id="job-row" type="text/x-handlebars-template">
		<strong>{{title}}</strong>
		<span class="controls">
		{{#if stopped}}
			<a href="#" class="restart warning button">Restart</a>
		{{else}}
			{{#if done}}
				<a href="/jobs_finished/{{output}}" class="view line button">View Results</a>
			{{else}}
				<!--<a href="#pause={{id}}" class="pause warning button">Pause</a>-->
				<a href="#stop={{id}}" class="stop delete button">Stop</a>
			{{/if}}
		{{/if}}
		</span>
	</script>
	<script id="job-rows" type="text/x-handlebars-template">
		{{#list things}}
			<strong>{{title}}</strong>
			<span class="controls">
				<a href="#pause={{id}}" class="pause warning button">Pause</a>
				<a href="#stop={{id}}" class="stop delete button">Stop</a>
			</span>
		{{/list}}
	</script>
	{% endverbatim %}
	<script type="text/javascript">
		$(function(){
			/*var Workspace = Backbone.Router.extend({
				routes: {
					"help":								 "help",		// #help
					"search/:query":				"search",	// #search/kiwis
					"search/:query/p:page": "search"	 // #search/kiwis/p7
				},
				help: function() {
				console.log("Help Fired!");
				},
				search: function(query, page) {
					console.log("Searching for: " + query + " on page " + page);
				}
			});
			var ws = new Workspace;
			ws.bind("route:help", function(){
				console.log("Help Fired! 2");
			});
			Backbone.history.start();
			*/
			
			var Job = Backbone.Model.extend({
				initialize: function(e){
					//console.log('init', e);
					this.bind('change:status',	 this.changeStatus, this);
					//this.set({'status':1});
					this.changeStatus();
				},
				changeStatus:function(e){
					//assume a running state
					var stopped = false, done = false;
					switch(this.get('status')){
						case 0: break;//Running state
						case 1: done = true; break;//Done state
						case 2: stopped = true; break; //Error state
					}
					this.set({'stopped':stopped, 'done':done});
				}
				/*defaults: function(){
					return {
						"id":0,
						"done": false,
						"name":""
					}
				},*/
			});
			
			var JobList = Backbone.Collection.extend({
				model: Job,
				url: '/rest/job/?format=json',
				test:function(){
					return this.filter(function(it){
						console.log(it);
					});
				}
			});
			
			var File = Backbone.Model.extend({
					
			});
			
			var FileList = Backbone.Collection.extend({
				model: File,
				url: '/rest/files/?format=json'
			});
			
			var JobView = Backbone.View.extend({
				tagName: "li",
				template: Handlebars.compile($('#job-row').html()),
				
				events: {
					"click .view":		"view",
					"click .pause":		"pause",
					"click .stop":		"stop",
					"click .restart":	"restart",
				},
				
				view: function(){
					//alert('view');
					//var img_url = 
					$('#app #img').html('<img src="/jobs_finished/'+this.model.get('output')+'" \>');
					return false;
				},
				
				pause: function(){
					alert('pause');
				},
				
				stop: function(){
					//alert('stop');
					this.model.set({'stopped': true});
					this.render();
				},
				
				restart: function(){
					//alert('stop');
					this.model.set({'stopped': false});
					this.render();
				},
				
				render: function() {
					var $el = $(this.el);
					$el.html(this.template(this.model.toJSON()));
					if (this.model.get('done')) $el.addClass('done'); //one directional... can't become "undone"
					return this;
				}
			});
			
			var JobListView = Backbone.View.extend({
				tagName: "ul",
				className: "table",
				//id: "manager-table",
				//el: '<ul id="manager-table"></ul>',
				
				initialize: function(){
					this.list = new JobList;
					this.list.fetch();
					this.list.bind('add',	 this.add, this);
					this.list.bind('reset', this.addAll, this);
					//list.bind('all',	 this.render, this);
				},
				//template: Handlebars.compile($('#job-row').html()),
				add: function(m){
					var view = new JobView({model: m});
					$(this.el).append(m, view.render().el);
					console.log(this.el);
				},
				addAll: function(e){ //gets fired after fetch()
					//var $el = $(this.el);
					var _this = this; //needed to use this because scope changes
					this.list.each(function(m){
						_this.add(m);
					}); //attaches a view to each of the models
					//console.log(e, "reset");
				},
				render: function() {
					/*var $el = $(this.el);
					$el.html('');
					$el.append(m, m.render().el);
					return this;*/
					console.log('rendering job list view');
				}
			});
			
			var FileView = Backbone.View.extend({
				tagName: "li",
				
				template: Handlebars.compile($('#job-row').html()),
				
				events: {
					"click .view":		"view",
					//"click .pause":		"pause",
					//"click .stop":		"stop",
					//"click .restart":	"restart",
				},
				
				view: function(){
					//alert('view');
					//var img_url = 
					$('#app #img').html('<img src="/jobs_finished/'+this.model.get('output')+'" \>');
					return false;
				},
				
				render: function() {
					var $el = $(this.el);
					$el.html(this.template(this.model.toJSON()));
					return this;
				}
			});
			
			var FileListView = Backbone.View.extend({
				tagName: "ul",
				className: "table",
				//id: "manager-table",
				//el: '<ul id="manager-table"></ul>',
				
				initialize: function(){
					files.bind('add',	 this.add, this);
					files.bind('reset', this.addAll, this);
					//list.bind('all',	 this.render, this);
				},
				//template: Handlebars.compile($('#job-row').html()),
				add: function(m){
					var view = new JobView({model: m});
					$(this.el).append(m, view.render().el);
					console.log(this.el);
				},
				addAll: function(e){ //gets fired after fetch()
					//var $el = $(this.el);
					var _this = this;
					files.each(function(m){
						_this.add(m);
					}); //attaches a view to each of the models
					//console.log(e, "reset");
				},
				render: function() {
					/*var $el = $(this.el);
					$el.html('');
					$el.append(m, m.render().el);
					return this;*/
					console.log('rendering job list view');
				}
			});			
			
			var list = new JobList;
			var files = new FileList;
			
			var App = Backbone.View.extend({
				//el: $('#app'),
				tagName: 'div',
				id: 'app',
				/*el:'<div id="app">'
						+'<a href="#" class="add button">Add an item</a><br>'
						+'<div id="img"></div>'
					+'</div>',*/
				
				initialize: function(){
					var $el = $(this.el);
					this.jobs = new JobListView;
					$el.append('<h2>Jobs</h2>').append(this.jobs.el);
				},
				
				render: function(){
					console.log("render");
				}
			});
			
			var app = new App;
			//var jobsview = new JobListView;
			$(app.el).appendTo('body');
			
			list.fetch(); //does an ajax request to fill up the JobList
			files.fetch();
			
			//list.add({{bootstrap}});
			
			$("#manager-table").sortable();//{placeholder: "ui-state-highlight"}
			$("#manager-table").disableSelection();
			
			$('#job_upload_frame').load(function(e){
				var state = $.parseJSON(this.contentWindow.document.body.innerHTML)
				console.log('loaded', state);
			});
			$("#job_upload_form").live("submit", function(){
				//console.log($(this).serialize());
				//return false;
			});
			
		});
	</script>
{% endblock %}

{% block content %}
	<!--<div id="app">
		<a href="#" class="add button">Add an item</a><br>
		<div id="img"></div>
		<ul id="manager-table"></ul>
	</div>-->
	<!--<a href="/manager/upload" class="load button">Upload New Job</a>-->
	<div id="upload-form">
		<iframe id="job_upload_frame" name="job_upload_frame" style="position:absolute; top:-9999px; left:-9999px;visibility:hidden;"></iframe>
		<!--<iframe id="job_upload_frame" name="job_upload_frame" style="height:250px;width:250px;position:absolute;top:0;right:0;"></iframe>-->
		<form id="job_upload_form" enctype="multipart/form-data" method="post" action="/manager/upload" target="job_upload_frame">
			<table>
			{% csrf_token %}
			{{ form }}
			</table>
			<input type="submit" value="Save" id="save_button"/>
		</form>
	</div>
{% endblock %}

{% block footer %}
{% if not user.is_anonymous %}<a href="/accounts/logout/?next=/" class="exit button">Log out</a>{% endif %}
{% endblock %}
